<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetingScheduler"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.DetailEvent"
            android:exported="false" />
        <activity
            android:name=".chat_enseignant"
            android:exported="false" />
        <activity
            android:name=".ui.Authentification"
            android:exported="false" />
        <activity android:name=".ui.Discussion"
            android:exported="false" />
        <activity
            android:name=".ui.splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".etudiant_chat"
            android:exported="false" />

        <activity
            android:name=".discussion_priver"
            android:exported="false" />
        <activity
            android:name=".discussion_group"
            android:exported="false" />
        <activity
            android:name=".ui.liste_profiles"
            android:exported="false" />
        <activity
            android:name=".ui.Profile_user"
            android:exported="false" />
        <activity
            android:name=".ui.Register"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>